:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

html,
body {
  height: 100%;
}

* {
  font-family: "Rubik", Helvetica, Arial, serif;
}

body {
  background: #f0f4f7;
  color: $bodyTextColor;
}

.form-control {
  font-size: $inputFontSize;
  background-color: $field-bg-color;
}

#root {
  height: 100%;
}

.card {
  padding: 2em;
  min-width: 286px;
  max-width: 350px;
}
